.mobile-header {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    z-index: 101;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #000;
}

.mobile-sidebar.open .sidebar{
    left: 0px;
    z-index: 102;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.overlay.open {
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    .mobile-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}